@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  h1 {
    @apply text-black dark:text-white text-2xl my-2;
  }
  h2 {
    @apply text-black dark:text-white text-xl my-2;
  }
  h3 {
    @apply text-black dark:text-white text-lg my-2;
  }
  h4 {
    @apply text-black dark:text-white text-base my-2;
  }
  h5 {
    @apply text-black dark:text-white text-sm my-2;
  }
  h6 {
    @apply text-black dark:text-white text-xs my-2;
  }
  p {
    @apply text-black dark:text-gray-400 text-sm;
  }
  hr {
    @apply my-5 bg-transparent border-gray-300 dark:border-gray-800 rounded;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
